
<ion-header>
  <ion-row class="ion-justify-content-end">
    
      <ion-title>Contactanos</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
  </ion-row>
  <ion-row>
    <ion-img routerLink="../principal" src="assets/ICONS_APP/ICONS_APP/logo.png"></ion-img>
  </ion-row>
    
  
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row id="title">
      <ion-col size="1">
        <ion-row>
        <ion-img id="atras" src="assets/ICONS_APP/ICONS_APP/atras.png"></ion-img>   
      </ion-row>
      </ion-col>     
           
      <ion-img class="imagenes" src="assets/ICONS_APP/ICONS_APP/agendar_cita_2.png"></ion-img>  
      <ion-title>AGENDAR CITA</ion-title>
    </ion-row>
    
  </ion-grid> 
</ion-content>
