<ion-header>
  <ion-row class="ion-justify-content-end">
    <ion-col>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-img src="assets/ICONS_APP/ICONS_APP/logo.png"></ion-img>
  </ion-row>
    
  
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row id="title">
      <ion-col size="1">
        <ion-row>
        <ion-img routerLink="../principal" id="atras" src="assets/ICONS_APP/ICONS_APP/atras.png"></ion-img>   
      </ion-row>
      </ion-col>     
           
      <ion-img class="imagenes" src="assets/ICONS_APP/ICONS_APP/agendar_cita_2.png"></ion-img>  
      <ion-title>AGENDAR CITA</ion-title>
    </ion-row>

    <ion-row id="form" class="ion-justify-content-center">
      <ion-col size="10" class="ion-align-self-center">
      <ion-item>
        <ion-label>Especialidad:</ion-label>
       <ion-select [(ngModel)]="opcion">
        <ion-select-option *ngFor="let post of posts" >{{post.nombre}}</ion-select-option>
        
       </ion-select>
      </ion-item>       

      </ion-col>
      <ion-col size="10" class="ion-align-self-center">
        <ion-item>
          <ion-label>Fecha:</ion-label>
          <ion-datetime [(ngModel)]="fecha" (ionChange)=(showDate()) displayFormat="DD-MM-YYYY" [placeholder]="d" max="2030-12-09" [min]="d"></ion-datetime>          
        </ion-item>
      </ion-col>

      <ion-col size="10" class="ion-align-self-center">
      
        <ion-item>
          <ion-label>Hora:</ion-label>
          <ion-datetime [(ngModel)]="hora" (ionChange)=(showHour()) display-format="HH:mm" [placeholder]="h"></ion-datetime>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row id="next" routerLink="../agendar-cita-med" class="ion-justify-content-center" (click)="passingParameters()">
      
        <ion-label>SIGUIENTE</ion-label>
          
    </ion-row>

    
      
      
    

  </ion-grid>



  
  
      
</ion-content>