<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="email" placeholder="Correo Electronico"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Contrasena" minlength=8></ion-input>
  </ion-item>
  <ion-button type="submit">Iniciar Sesion</ion-button>
  <ion-item>
    <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>Iniciar sesion con Facebook
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>Iniciar sesion con Gmail
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>¿No tienes cuenta?</ion-label>
    <ion-button>Registrate</ion-button>
  </ion-item>
</ion-content>