
<ion-content color="white" >
  <ion-grid>
    <ion-row>
      <ion-img id="logo" src="assets/ICONS_APP/ICONS_APP/logo_2.png"></ion-img>
      
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-input type="email" placeholder="Correo Electrónico" required clearInput [(ngModel)]="user.username"
          name="username"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-input type="password" placeholder="Contraseña" required clearInput [(ngModel)]="user.password"
          name="password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button type="submit" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
      <!-- routerLink="principal" -->
    </ion-row>
    <ion-row class="ion-justify-content-center">
      
      <p align="center"> o<br>Ingresa con</p>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" size-sm class="ion-align-self-center " >
        <ion-button>
          <ion-icon  name="logo-facebook"></ion-icon>
        </ion-button>
      
      <ion-button>
        <ion-icon  name="logo-googleplus"></ion-icon>
      </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-label>¿Has olvidado tu contraseña?</ion-label>
    </ion-row>
    <ion-item>
      <ion-label>¿No tienes cuenta?</ion-label>
      <ion-button (click)="irARegistrar()">Regístrate</ion-button>
      <!-- routerLink="registro" -->
    </ion-item>
  </ion-grid>


</ion-content>