{% extends 'index_medico.html' %}
{% block contenido %}
<div class="container">
	<div class="row">
        <div id="titulo" class="col-xl-12">
          <h2>Programar nueva cita:</h2>
          <br>
            <br>
        </div>
        <div class="row">
        	<div class="col-12">
        		{% load crispy_forms_tags %}
        		<form action="/medico/" method="post">
	        		<div class="row">Datos del Paciente
		        		<div class="col-12">Nombres:
		        		</div>
		        		<div class="col-12">Apellidos:
		        		</div>
		        		<div class="col-12">Especialidad:
		        		</div>
		        	</div>

	        	</form>
        	</div>

    </div>

        <div class="row">
        	<div class="col-12">
        		{% load crispy_forms_tags %}
        		<form action="/paciente/" method="post">
	        		<div class="row">
		        		<div class="col-12">Fecha y hora:
							
							<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
						      <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
						      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
						        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						      </div>
						    </div>

						    <script>
						      $(function () {
						        $("#datetimepicker1").datetimepicker();
						      });
						    </script>


		        		</div>
		        	</div>
		        	<div class="col-12">
				        <div class="col-12">
			                <br>
			                <br>
			                <form action="#">
				        	  <button id="btn-continuar">Confirmar Cita</button>
			                </form>
				        </div>
				    </div>
	        	</form>
        	</div>

    </div>
</div>


{% endblock %}