{% extends 'base.html' %}
{% block content %}


<br>
<section id="im" class="col-12">
	<img src="https://via.placeholder.com/1920x500" alt="placeholder" class="col-12"/>
</section>
<br>
<div class="col-12">
    <div class="col-12">
        <br>
        <br>
        <form action="#">
    	  <button id="btn-nueva-cita">Agendar nueva cita</button>
        </form>
    </div>
    <div class="col-12">
        <br>
        <br>
        <form action="#">
    	  <button id="btn-es-receta">Escribir receta</button>
        </form>
    </div>
    <div class="col-12">
        <br>
        <br>
        <form action="#">
    	  <button id="btn-hist-paciente">Historial del paciente</button>
        </form>
    </div>
</div>
