{% extends 'menu_agendar.html' %}
{% load static %}

{% block contenido %}

<div class="col-12">
    <div id="titulo_ini" class="row">

        <section class="container" >
          <div id="notas">
            <article id=art_conf_cita>
                <div id="paquete_inicio" class="col-12">
                    <br>
                    <img id="avatar" src="{% static 'imagenes/doctor.png' %}" alt="">
                    <br>
                    <p>Especialidad: {{especialidad}}</p>
                    <p>Médico: {{ cita.doctor.user_id.persona_id.nombre}} {{ cita.doctor.user_id.persona_id.apellido}}</p>
                    <p>Fecha: {{cita.fecha}}</p>
                    <p>Hora: {{cita.hora}}</p>
                    <p>Precio: ${{cita.doctor.tarifa.precio}}</p>
                </div>
            </article>
            
          </div>
        </section>

    </div>
    <div class="row">
        <div class="col-2">
            
        </div>
        <div class="col-6">
            <form action="/boton_pago/">
              <button id="btn-continuar">Continuar pago</button>
            </form>
            <br>
            <button id="btn-continuar"><a href="/guardar_cita/?id={{ cita.id }}?especialidad={{especialidad}}" name="cita.id">Saltar</a></button>
        </div>
        
        
    </div>
</div>


{% endblock %}