{% extends 'index_paciente.html' %}
{% load static %}




{% block contenido %}


<div class="col-12">
    <div id="titulo_ini2" class="row">
      <a href="/mis_consejos/" >
        <header>
            <h1>Consejos de Salud</h1>
        </header>
      </a>
      <section class="container" >
        <div id="notas">
          {% if object_list %}
          {% for consejos in object_list %}
          
          <article id=art_inicio>
              
              <a href="/ver_mas_consejo/?id={{ consejos.id }}" name="consejos.id">
                  
                  <div id="pictu">
                    <img src="http://127.0.0.1:8000/{{consejos.imagen}}" width="100%">
                  </div>
                  <div id="consejo_inicio" class="info" style="font-weight:bold">
                    <header style="text-align:center" >
                      <h5 id="titulo1" style="color:red" >{{consejos.titulo}}</h5>
                    </header>
                  </div>
              </a>
            
          </article>
          {% endfor %}
          {% endif %}

          
        </div>
      </section>
    </div>
</div>
<br>
<br>
<br>

<div class="col-12">
    <div id="titulo_ini" class="row">
      <a href="/mis_noticias/" >
        <header>
            <h1>Noticias</h1>
        </header>
      </a>
      <section class="container" >
        <div id="notas">
          {% if object_list2 %}
          {% for noticias in object_list2 %}
          <article id=art_inicio>
            <a href="/ver_mas_noticias/?ids={{ noticias.id }}" name="noticias.id">
                  
                <div id="pictu">
                  <img src="http://127.0.0.1:8000/{{noticias.imagen}}" width="100%">
                </div>
                <div id="noticia_inicio" class="info" style="font-weight:bold">

                    <header style="text-align:center" >
                      <h5 id="titulo1" style="color:red" >{{noticias.titulo}}</h5>
                    </header>

                </div>
            </a>
          </article>
          {% endfor %}
          {% endif %}

          
        </div>
      </section>
    </div>
</div>

{% endblock %}