{% extends 'menu_tarifa.html' %}
{% load static %}

{% block contenido %}
<div id="titulo" class="row">
	<h2>Ingresar Tarifas</h2>
</div>
<div class="row">
	<div class="col-xl-12">
		{% load crispy_forms_tags %}
		<form action="/ing_tarifa/" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-xl-1">
				</div>
				<div class="col-xl-6">
						{{ form|crispy }}
				</div>
			</div>
			<button type="submit" id="btn-guardar">Guardar</button>
		</form>
	</div>
</div>
{% endblock %}