{% extends 'menu_publicidad.html' %}
{% load staticfiles %}
{% block contenido %}
    {% load crispy_forms_tags %}
    <form action="{% url 'ing-publicidad' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-xl-6"> 
          <p>
            <input id="id_image" type="file" accept="image/*" name="imagen" required>
          </p>
        </div>
        
      </div>
      <br>
      <div class="row">
        <div class="col-xl-1">
          <p>Nombre:</p>
        </div>
      
        <div class="col-xl-4">
          <p><input id="id_name" type="text" name="name" required></p>
        </div>
        <div class="col-xl-1">
        </div>
        <div class="col-xl-1">
          <p>Teléfono:</p>
        </div>
      
        <div class="col-xl-4">
          <p><input id="id_telefono" type="text" name="telefono" required></p>
        </div>


      </div>
      <br>
      <div class="row">
        <div class="col-xl-1">
          <p>Dueño:</p>
        </div>
      
        <div class="col-xl-4">
          <p><input id="id_dueno" type="text" name="dueno" required></p>
        </div>
         <div class="col-xl-1">
        </div>
        <div class="col-xl-1">
          <p>Ciudad:</p>
        </div>
      
        <div class="col-xl-4">
          <p><input id="id_ciudad" type="text" name="ciudad" required></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xl-1">
          <p>Precio:</p>
        </div>
      
        <div class="col-xl-4">
          <p><input id="id_precio" type="text" name="precio" required></p>
        </div>
        <div class="col-xl-1">
        </div>
        <div class="col-xl-1">
          <p>Direccion:</p>
        </div>
      
        <div class="col-xl-4">
          <p><input id="id_direccion" type="text" name="direccion" required></p>
        </div>
      </div>
      <br>
      <br>

      <button type="submit" id="btn-guardar">Guardar</button>
    </form>
{% endblock %}