{% extends 'index_paciente.html' %}
{% load static %}

{% block contenido %}

<div class="col-12">
    <div id="titulo_ini" class="row">
        <header>
            <h1>¡Paquetes especiales para ti!</h1>
            <br><br><br>
        </header>

        <section class="container" >
          <div id="notas">
            {% for paquete in object_list %}
            <article id=art_inicio>
                <div id="paquete_inicio" class="col-12">
                    <br>
                    <h4>{{paquete.nombre}}</h4>
                    <br>
                    <p>{{paquete.descripcion}}</p>
                    <br>
                    <h5>{{paquete.precio}}</h5>
                    <a href="/paquete_pago/?id={{ paquete.id }}" name="paquete.id">Obtener</a>
                </div>
            </article>
            {% endfor %}
          </div>
        </section>
    </div>
</div>


{% endblock %}