{% extends 'base_main.html' %}
{% load static %}


{% block base %}
<div class="container-fluid" id="inicio-cont">
	<br>
	<div class="row">
		<div class="col-xl-4">
		</div>

		<div class="col-xl-4">
			<div class="row">
				<div class="col-xl-1">
				</div>
				<div class="col-xl-10">
					<div id="registro" class="row">
						<div class="col-xl-12">
							<div class="row">

								<div class="col-xl-12">
									<br>
									<div id="titulo-inicio" class="row">
										<img id="logo-ini" src="{% static 'imagenes/logo_2.png' %}" alt="logo"/>
									</div>
									<br>
									<div class="row">
										<div class="col-xl-1">
										</div>
										<div class="col-xl-10">
											{% load crispy_forms_tags %}
											<form action="/registro/" method="post">
												<div class="row">
													<div class="col-xl-12">
														{% csrf_token %}
														{{ form|crispy }}
														{{ form1|crispy }}
														{% for message in messages %}
				                							<small><i class="fas fa-exclamation-triangle"></i>{{ message }}</small>
				                						{% endfor %}
				                					</div>
												</div>
												<div class="row">
													<div class="col-4">
													</div>
													<div class="col-4">
														<button type="submit" id="btn-registro">Registrarse</button>
													</div>
													<div class="col-4">
													</div>
													
												</div>
												
											</form>
										</div>
										<div class="col-xl-1">
										</div>
									</div>
									<br>
									<div class="row">
										<div id="mensaje" class="col-12">
											<h6>Al registrarte, aceptas nuestras condiciones, la política de datos y la politica de cookies</h6>
										</div>
									 
									</div>
								</div>
							</div>
						<div class="row">
							<div id="ingresa_cuenta" class="col-xl-12">
								<br>
								<p><a href="{% url 'inicio' %}">¿Tienes una cuenta? Ingresa aquí!</a></p>
								<br>
							</div>
						</div>
					</div>
				</div>
				</div>
				
				<div class="col-xl-1">
				</div>
			</div>
		</div>

		<div id="des_aplicaciones" class="col-xl-4">
			<br>
			<div id="des-app" class="row">
			  	<h6>¡Descarga la App aquí!</h6>
			</div>
			<br>
			<div id="apps" class="row">
				<div id="store" class="col-xl-6">
			  		<a tittle="app-store" href=""><img id="imgstore" src="{% static 'imagenes/App-Store.png' %}"/></a>
			  	</div>
			  	<div id="play" class="col-xl-6">
			  		<a tittle="google-play" href=""><img id="imgplay" src="{% static 'imagenes/google-play.png' %}"/></a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>



{% endblock %}