{% extends 'index_medico.html' %}
{% load static %}
{% block import %}
<link href="{% static 'css/medicina.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block contenido %}

<aside id="menu-ser" class="col-xl-12 col-12">
	<div class="row">
		<div class="column col-xl-3 col-12">
			<div id="vertical-menu-medico" class="col-xl-12 col-12">
				<a onclick="agendarBoton()" href="1" id="active">Agendar nueva cita</a>
				<a onclick="escribirBoton()" target="_blank" href="/ing_receta" id="inactive">Escribir receta</a>
				<a onclick="historialBoton()" href="3" id="inactive">Historial del paciente</a>
			</div>

		</div>

	</div>
</aside>

{% endblock %}

{% block script %}
<script src="{% static 'js/funcion_vert_menu.js' %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}