{% extends 'menu_agendar.html' %}
{% load static %}
{% block contenido %}
	<div class="row">
		<div class="row">
			<div class="col-12">
				{% load crispy_forms_tags %}
				<form method="post">
					<div class="row">
						{% csrf_token %}
						<h2> {{ text }} </h2>
						<div class="col-12">
							
							{{ form.especialidad|as_crispy_field }}
						</div>
						<div class="col-12">Fecha y hora:

							<div class="col-4">

							    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
									<input type="text" class="form-control datetimepicker-input"
										data-target="#datetimepicker1" />
									<div class="input-group-append" data-target="#datetimepicker1"
										data-toggle="datetimepicker">
										<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
								</div>

								<script>
									$(function () {
										$("#datetimepicker1").datetimepicker(
											 format: 'dd-mm-yyyy'
										);
									});
								</script>

								</div>
					</div>
					<div class="col-12">
						<div class="col-12">
							<br>
							<br>

							<button type="submit" id="btn-continuar">Continuar</button>

						</div>
					</div>
				</form>
			</div>

		</div>


{% endblock %}

	