{% extends 'base.html' %}

{% block content %}


<br>
<section id="im" class="col-xl-12">
	<img src="https://via.placeholder.com/150" alt="placeholder" class="col-12"/>
</section>
<br>
<section>
	<div class="row">
        <div id="in1" class="col-xl-12 col-sm-12">
          <img src="https://via.placeholder.com/30x30" alt="placeholder" />
          <p>@CORREO</p>
        </div>
        <div class="row">
        	<div class="col-6">
        	</div>
        	<div class="col-6">
        	</div>
        </div>
        <div class="col-12">
        	<!--input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="Remove" /-->
        </div>
    </div>
</section>
{% endblock %}