{% extends 'index_paciente.html' %}
{% block contenido %}

	<div id="titulo" class="row">
          <h2>Consulta médica por emergencia</h2>
          <br>
            <br>
    </div>
    <br>
            <br>
        <div class="row">

        	<div class="col-6">
        		<img id="foto_doc" src="https://via.placeholder.com/300x300" alt="placeholder"/>
        	</div>
        	<div class="col-6">
        		<div class="col-12">
        			<div class="row">
        				Médico Disponible
        			</div>
        			<div class="row">
        				<div class="col-6">
        					Especialidad:
        				</div>
        				<div class="col-6">
        					Especialidad1
        				</div>
        			</div>
        			<div class="row">
        				<div class="col-6">
        					Médico
        				</div>
        				<div class="col-6">
        					Médico1
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="col-12">
            <br>
            <br>
	        <div class="row">
                <div class="col-3">
                    
                </div>
                <div class="col-3">
                    <form action="{% url 'confirmacion_emergencia' %}">
                      <button id="btn-continuar">Continuar</button>
                    </form>  
                </div>
	        	<div class="col-3">
                    <form action="{% url 'selec_med_emergencia' %}">
                      <button id="btn-continuar">Buscar otro médico</button>
                    </form> 
                </div>

                <div class="col-3">
                    
                </div>
                
	        </div>
	    </div>
{% endblock %}