{% extends 'index_medico.html' %}

{% block import %}

{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-4">

	    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
			<input type="text" class="form-control datetimepicker-input"
				data-target="#datetimepicker1" />
			<div class="input-group-append" data-target="#datetimepicker1"
				data-toggle="datetimepicker">
				<div class="input-group-text"><i class="fa fa-calendar"></i></div>
			</div>
		</div>

		<script>
			$(function () {
				$("#datetimepicker1").datetimepicker(
					 format: 'dd-mm-yyyy'
				);
			});
		</script>

		</div>

		<div class="col-1">
		</div>
		<div class="col-5">
			<button type=""><a class="dropdown-item" href="{% url 'zoom_video' %}">Iniciar Consulta</a></button>
		</div>
	</div>

{% endblock %}

{% block script %}

{% endblock %}