{% extends 'index_paciente.html' %}
{% load static %}

{% block contenido %}

<div class="col-12">
    <div id="titulo_ini" class="row">
        <header>
            <h1>Comprar paquete</h1>
            <br><br><br>
        </header>

        <section class="container" >
          <div id="notas">
            <article id=art_inicio>
                {% for paquete in object_list %}
                <div id="paquete_inicio" class="col-12">
                    <br>
                    <h4>{{paquete.nombre}}</h4>
                    <br>
                    <p>{{paquete.descripcion}}</p>
                    <p>{{paquete.citas}} citas gratis</p>
                    <p>Durante {{paquete.duracion}} meses</p>
                    <h5>{{paquete.precio}}</h5>
                </div>
                {% endfor %}
            </article>
          </div>

            <form action="/boton_pago/">
              <button id="btn-continuar">Continuar pago</button>
            </form>
            <br>
            <form action="/paquete_pago/?id={{ paquete.id }}">
              <button id="btn-continuar">Saltar</button>
            </form>
        </section>

    </div>
</div>


{% endblock %}