{% extends 'base.html' %}
{% block content %}


<br>
<section id="im" class="col-12">
	<img src="https://via.placeholder.com/1920x320" alt="placeholder" class="col-12"/>
</section>
<br>
<section>
	<div class="row">
        <div id="in1" class="col-xl-12 col-sm-12">
          <p>Consulta médica</p>
        </div>
        <div class="row">
        	<div class="col-6">
        		<img src="https://via.placeholder.com/300x300" alt="placeholder" class="col-12"/>
        	</div>
        	<div class="col-6">
        		<div class="col-12">
        			<div class="row">
        				Confirmación cita  
        			</div>
        			<div class="row">
        				<div class="col-6">
        					Especialidad:
        				</div>
        				<div class="col-6">
        					Especialidad1
        				</div>
        			</div>
        			<div class="row">
        				<div class="col-6">
        					Médico
        				</div>
        				<div class="col-6">
        					Médico1
        				</div>
        			</div>
                    <div class="row">
                        <div class="col-6">
                            Fecha
                        </div>
                        <div class="col-6">
                            dd mm aaaa
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Hora
                        </div>
                        <div class="col-6">
                            hh:mm
                        </div>
                    </div>
        		</div>
        	</div>
        </div>
        <div class="col-12">
	        <div class="col-12">
	        	<button><a href="#">Continuar</a></button>

	        </div>
	    </div>
    </div>
</section>
{% endblock %}