{% extends 'base.html' %}
{% load static %}


{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Especialidad</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ingresar</a>
          <a class="dropdown-item" href="#">Visualizar</a>
        </div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Médicos</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ingresar</a>
          <a class="dropdown-item" href="#">Visualizar</a>
        </div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Reportes</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Por Medico</a>
          <a class="dropdown-item" href="#">Por Publicidad</a>
          <a class="dropdown-item" href="#">Por Especialidad</a>
          <a class="dropdown-item" href="#">Por Paciente</a>
        </div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tarifas</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'tarifas' %}">Ingresar</a>
          <a class="dropdown-item" href="#">Visualizar</a>
        </div>
	</li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <nav class="col-12">
      <br>

        <div class="row">
        	<div class="col-xl-1">
        		
        	</div>
          <div id="menu-int" class="col-xl-3 list-inline">
            {% block navs %}
			{% endblock %}
          </div> 
        </div>
    </nav>
  </div>

<div class="row">
	<div class="col-xl-1">
		
	</div>
	<div id="contenido" class="col-xl-10">
		<br><br>
		{% block contenido %}
		{% endblock %}
		<br><br>
	</div>
	<div class="col-xl-1">
		
	</div>
</div>

{% endblock %}