{% extends 'base.html' %}
{% load static %}

{% block import %}
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs">

	<li class="nav-item">
		<a class="nav-link" href="{% url 'index_paciente' %}">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'ag-cita' %}">Agendar</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'citas_prev' %}">Citas</a>
	</li>
          <!--<a class="dropdown-item" href="{% url 'zoom_video' %}">Realizar Cita</a>-->
	<li class="nav-item">
		<a class="nav-link" href="" >Doctores Favoritos</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="" >Historial</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="">Mis paquetes</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'cerrar_sesion' %}" >Cerrar Sesión</a>
	</li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <nav class="col-12">
      <br>

        <div class="row">
        	<div class="col-xl-1">
        		
        	</div>
          <div id="menu-int" class="col-xl-5 list-inline">
            {% block navs %}
			{% endblock %}
          </div> 
        </div>
    </nav>
  </div>

<div class="row">
	<div class="col-xl-1">
		
	</div>
	<div id="contenido" class="col-xl-10">
		<br><br>
		{% block contenido %}
		{% endblock %}
		<br><br>
	</div>
	<div class="col-xl-1">
		
	</div>
</div>

{% endblock %}