{% extends 'base.html' %}
{% load static %}
{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Especialidad</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'ingresar_especialidad' %}">Ingresar</a>
          <a class="dropdown-item" href="">Visualizar</a>
        </div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Médicos</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'ing-medico' %}">Ingresar</a>
          <a class="dropdown-item" href="">Visualizar</a>
        </div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'r_medico' %}">Reporte</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tarifas</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'ing-tarifa' %}">Ingresar</a>
          <a class="dropdown-item" href="{% url 'ver_tarifas' %}">Visualizar</a>
        </div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'perfil' %}">Publicidad</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'cerrar_sesion' %}" >Cerrar Sesión</a>
	</li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
    <nav class="col-12">
      <br>

        <div class="row">
        	<div class="col-xl-1">
        		
        	</div>
          <div id="menu-int" class="col-xl-3 list-inline">
            {% block navs %}
			{% endblock %}
          </div> 
        </div>
    </nav>
  </div>

<div class="row">
	<div class="col-xl-1">
		
	</div>
	<div id="contenido" class="col-xl-10">
		<br><br>
		{% block contenido %}
		{% endblock %}
		<br><br>
	</div>
	<div class="col-xl-1">
		
	</div>
</div>

{% endblock %}

{% block import %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
{% endblock %}