{% extends 'base.html' %}
{% load static %}

{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item dropdown">
		<a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agendar citas</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cita de emergencia</a>
          <a class="dropdown-item" href="#">Agendar cita</a>
          <a class="dropdown-item" href="#">Junta médica</a>
        </div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="">Consulta médica</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="" >Doctores Favoritos</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="" >Historial</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="" >Cerrar Sesión</a>
	</li>
</ul>
{% endblock %}