{% extends 'menu_paquete.html' %}
{% load static %}

{% block contenido %}
<div id="titulo" class="row">
	<h2>Ingresar Paquetes</h2>
</div>
<div class="row">
	<div class="col-xl-12">
		{% load crispy_forms_tags %}
		<form action="" method="post">
			<div class="row">
				{% csrf_token %}
				<div class="col-xl-5">
					{{ form.nombre|as_crispy_field }}
					{{ form.precio|as_crispy_field }}
					{{ form.especialidad|as_crispy_field }}
					{{ form.duracion|as_crispy_field }}
				</div>
				<div class="col-xl-2">
					
				</div>
				<div class="col-xl-5">
					{{ form.descripcion|as_crispy_field}}
					
				</div>
				</div>
			<button type="submit" id="btn-guardar">Guardar</button>
		</form>
	</div>
</div>
{% endblock %}

{% block script %}
	<script src="{% static 'js/campos_horarios.js' %}" type="text/javascript"></script>
{% endblock %}