{% extends 'menu_publicidad.html' %}
{% load staticfiles %}
{% block contenido %}
    {% load crispy_forms_tags %}
    <form action="{% url 'ing-publicidad' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>
          <input id="id_image" type="file" accept="image/*" name="imagen" required>
      </p>
      <p>
          Nombre:
          <input id="id_name" type="text" name="name" required>
      </p>
      <p>
          Dueño:
          <input id="id_dueno" type="text" name="dueno" required>
      </p>
      <p>
          Precio:
          <input id="id_precio" type="text" name="precio" required>
      </p>
      <p>
          Teléfono:
          <input id="id_telefono" type="text" name="telefono" required>
      </p>
      <p>
          Ciudad:
          <input id="id_ciudad" type="text" name="ciudad" required>
      </p>
      <p>
          Direccion:
          <input id="id_direccion" type="text" name="direccion" required>
      </p>

      <input type="submit" value="Submit" />
    </form>
{% endblock %}