{% extends 'base_main.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}


{% block base %}
<div class="container-fluid">
	<br><
	<div class="row">
		<div id="l-tele" class="col-xl-7">
		 	<img id="img-tele" src="{% static 'imagenes/logo-movil.png' %}" alt="logo"/>
		</div>

		<div class="col-xl-5">
			<div class="row">
				<div class="col-xl-1">	
				</div>
				<div class="col-xl-8">
					<div class="row">
						<div id="inicio" class="col-xl-12">
							<br>
							<div id="titulo-inicio" class="row">
								<h2>TELEMEDICINA</h2>
							</div>
							<br>
							<div class="row">
								<div class="col-xl-12">
									{% load crispy_forms_tags %}
									<form action="/paciente/" method="post">
										{% csrf_token %}
										{{ form|crispy }}
										<button type="submit" id="btn-inicio">Inicio Sesión</button>
									</form>
								</div>
							</div>
							<br>
							<div id="lineas" class="row">
								<h4>--------------- o ---------------</h4>
							</div>
							<br>
							{{user}}
							<div class="row">
	        					<button><a href="{% provider_login_url 'facebook' method='oauth2' %}">Inicia sesiòn con Facebook</a>

	        					</button>
							</div>
							<br>
							<div class="row">
								<button><a href="{% provider_login_url 'google' %}">Google Login</a></button>
							</div>
							<br>
							<div id="contra" class="row">
							  <a href="">¿Has olvidado tu contraseña</a>
							</div>
							<br>
						</div>
					</div>
					<div class="row">	
					</div>
					<br>
						<div class="row">
							<div id="no-cuenta" class="col-xl-12">
								<br>
								<div class="row">
									<div class="col-xl-8">
										<h4>¿No tienes cuenta?</h4>
									</div>
									<div class="col-xl-4">
								  		<a href="{% url 'registro' %}">Regitrarse</a>
									</div>
								</div>
								<br>
							</div>
						</div>
						<br>
						<div id="des-app" class="row">
						  	<h4>Descarga la aplicacion</h4>
						</div>
						<br>
						<div id="apps" class="row">
							<div id="store" class="col-xl-6">
						  		<a tittle="app-store" href=""><img id="imgstore" src="{% static 'imagenes/App-Store.png' %}"/></a>
						  	</div>
						  	<div id="play" class="col-xl-6">
						  		<a tittle="google-play" href=""><img id="imgplay" src="{% static 'imagenes/google-play.png' %}"/></a>
							</div>
						</div>
							<br>
							<br>
				</div>
				</div>
				<div class="col-xl-3">	
				</div>
			</div>
		</div>

	</div>
</div>


{% endblock %}