{% extends 'index_paciente.html' %}
{% load static %}

{% block contenido %}

<div class="col-12">
    <div id="titulo_ini" class="row">
        <header>
            <h1>¡Noticias!</h1>
            <br><br><br>
        </header>

        <section class="container" >
          <div id="notas">
            {% for noticias in object_list %}
            <article id=art_inicio>

                    <a href="/ver_mas_noticias/?ids={{ noticias.id }}" name="noticias.id">
                        <div id="pictu">
                            <img src="http://127.0.0.1:8000/{{noticias.imagen}}" width="100%">
                        </div>
                        <div id="noticia_inicio" class="info" style="font-weight:bold">
                            <header style="text-align:center" >
                                <h5 id="titulo1" style="color:red" >{{noticias.titulo}}</h5>
                            </header>
                        </div>
                    </a>
                    
            </article>
            {% endfor %}
          </div>
        </section>
    </div>
</div>


{% endblock %}