{% extends 'base_main.html' %}
{% load static %}


{% block base %}
<br><br><br><br><br><br><br>
<div class="row">
	<div id="l-tele" class="col-xl-8">
	  <img src="https://via.placeholder.com/400x400" alt="logo"/>
	</div>

	<div id="inicio" class="col-xl-4">
		<div class="row">
			<h2>TELEMEDICINA</h2>
			<br><br>
		</div>
		<div class="row">
			<form action="/paciente/" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Registrarse" />
			</form>
		</div>
		<br>
		<div class="row">
		  <h4>Al regitrarte, aceptas nuestras condiciones, la política de datos y la politica de cookies</h4>
		</div>
		<br>
		<div class="row">
		  <h4>¿Tienes cuenta?</h4>
		  <a href="{% url 'inicio' %}">Entrar</a>
		</div>
		<br>
		<div class="row">
		  <h4>Descarga la aplicacion</h4>
		</div>
		<br>
		<div class="row">
			<div id="store" class="col-xl-6">
		  		<a tittle="app-store" href=""><img src="{% static 'imagenes/App-Store.png' %}" alt="logo"/></a>
		  	</div>
		  	<div id="play" class="col-xl-6">
		  		<a tittle="google-play" href=""><img src="{% static 'imagenes/google-play.png' %}" alt="logo"/></a>
			</div>
		</div>


		
	</div>

</div>



{% endblock %}