{% extends 'index_paciente.html' %}
{% load static %}
{% block contenido %}

<section>
	<div class="row">
        <div id="titulo" class="col-xl-12">
          <h2>Consulta médica</h2>
          <br>
        </div>
        <div class="col-xl-12">
            <br>
          <h5>Seleccione el medico de su preferencia.</h5>
          <br>
        </div>
		<div class="col-12">
            
		<div class="col-xl-1">
             
         </div>
         <div class="col-xl-10">
            <div class="table-container">
            <table id="data_table" class="table table-striped table-bordered dt-body-center">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-1">
             
         </div>
   </div>
		</div>
        	
    </div>
</section>
{% endblock %}


{% block script %}

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'js/Tabla_medico_cita.js' %}"></script>
    
{% endblock %}