{% extends 'index_paciente.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block contenido %}

<section>
	<div class="row">
        <div id="titulo" class="col-xl-12">
          <h2>Consulta médica por emergencia</h2>
          <br>
        </div>
        <div class="col-xl-12">
            <br>
          <h5>Seleccione el medico de su preferencia.</h5>
          <br>
        </div>
		<div class="col-12">
			<div class="row">
                <div class="col-6">
				    Médicos Disponibles
                </div>
                <div class="col-3">
                    Buscar
                </div>
                <div class="col-3">
                    Filtro
                </div>
			</div>
            <br>
            <br>
            <div class="col 12 col-xl-12">
                <!--{% if object_list %}
                {% for noticia in object_list %}-->
                
                <div class="col 12 col-xl-12">
                    <div class="row" id="select_med_emergencia">
                       <div class="col-2">
                            <img src="https://via.placeholder.com/30x30" alt="placeholder"/>
                            <!--{{medico.foto}}-->
                        </div>
                        <div class="col-6">
                            <p>Nombre médico<!--{{medico.nombre}}--></p>
                        </div>
                        <div class="col-3">
                            <a href="#">Seleccionar</a>
                        </div>
                    </div>
                </div>
                <!--{% endfor %}
                {% endif %}-->
            </div>
		</div>
        	
    </div>
</section>
{% endblock %}