{% extends 'index_admin.html' %}
{% load static %}

{% block navs %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'ver_tarifas' %}" >Tarifa</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'ver_paquetes' %}">Paquetes</a>
	</li>
</ul>
{% endblock %}
{% block script %}

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'js/Tabla_medico.js' %}"></script>
    
{% endblock %}