{% extends 'menu_pagos.html' %}
{% load static %}

{% block contenido %}

<div class="row">
     <div class="col-xl-1">
         
     </div>
     <div class="col-xl-10">
        <div class="table-container">
        <div id="id_usuario_doc" style="display: none">{{user}}</div>
        <table id="data_table_cobrar" class="table table-striped table-bordered dt-body-center">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Valor Final</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
	</div>
	<div class="col-xl-1">
	         
	</div>
</div>

{% endblock %}