{% extends 'menu_paquete.html' %}
{% load static %}

{% block contenido %}
<div id="titulo" class="row">
	<h2>Paquetes</h2>
</div>
<div class="row">
         <div class="col-xl-1">
             
         </div>
         <div class="col-xl-10">
            <div class="table-container">
            <table id="data_table_paquete" class="table table-striped table-bordered dt-body-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Especialidad</th>
                        <th>Duracion</th>
                        <th>Citas</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-1">
             
         </div>
   </div>
{% endblock %}