ion-toolbar{
    --background: #65b4c3;

}

#containerbuttons{
    padding-top: 10%;
    padding-bottom: 10%;
}

ion-img{
    width: 350px; 
    height: 100px;
    margin: auto;
    display: block;
    
}

ion-col.button{
    background:rgba(229, 57, 86,0.1);    
    padding: 5px;
    margin: 5px;
}

.emergencia{
    background: #e53956;
    

}

.iconemerg{
    width: 100px; 
    height: 50px;
}

#emerg{
    color: white;
}

.icon{
    padding:0px;
    margin: 0px;
}

.desc{
    color:#65b4c3;

}

