<ion-header>
  <ion-toolbar>
    <ion-img src="assets/telemedicina_movil.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="../emergencia">Cita por emergencia</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item routerLink="../agendar-cita-esp">
          <ion-img class="imagenes" src="assets/calendario.png"></ion-img>
          <ion-label>Agendar cita</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item routerLink="../principal">
          <ion-img class="imagenes" src="assets/estetoscopio.png"></ion-img>
          <ion-label>Iniciar Consulta</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item routerLink="../principal">
          <ion-img class="imagenes" src="assets/doctor.png"></ion-img>
          <ion-label>Doctores Favoritos</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item routerLink="../principal">
          <ion-img class="imagenes" src="assets/historial.png"></ion-img>
          <ion-label>Historial</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>