ion-toolbar{
    --background: #65b4c3;

}

ion-img{
    width: 350px; 
    height: 100px;
    margin: auto;
    display: block;
}

ion-col{
    background: #e53956;
    
    padding: 5px;
    margin: 5px;
}

.emergencia{
    background: #e53956;
}

.iconemerg{
    width: 20%;
}