<ion-header>
  <ion-toolbar>
    <ion-img src="assets/telemedicina_movil.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button routerLink="../emergencia">Cita por emergencia</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" size-sm class="ion-align-self-center" >
        <ion-row class="ion-justify-content-center" routerLink="../agendar-cita-esp">
          <ion-img class="imagenes" src="assets/calendario.png"></ion-img>
          <ion-label>Agendar cita</ion-label> 
        </ion-row>        
      </ion-col>
      <ion-col size="5" size-sm class="ion-align-self-center">
        <ion-row class="ion-justify-content-center" routerLink="../principal">
          <ion-img class="imagenes" src="assets/estetoscopio.png"></ion-img>
          <ion-label>Iniciar Consulta</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" size-sm class="ion-align-self-center" >
        <ion-row class="ion-justify-content-center" routerLink="../principal">        
          <ion-img class="imagenes" src="assets/doctor.png"></ion-img>
          <ion-label>Doctores Favoritos</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size="5" size-sm class="ion-align-self-center">
        <ion-row class="ion-justify-content-center" routerLink="../principal">        
          <ion-img class="imagenes" src="assets/doctor.png"></ion-img>
          <ion-label>Historial</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>