ion-header{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #65b4c3;

}

#atras{
    width: 50%; 
    height: 50%;
    
}


#title{
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagenes{
    width: 10%; 
    height: 10%;
    margin: auto;
    display: block;
    
}

#containerdoc{
    margin-bottom: 30px;
}

ion-title{
    color: #65b4c3;
    font-size: 18px;
}

ion-item{
    --ion-background-color:rgba(229, 57, 86,0.1);
 }

 ion-label{
     font-size: 14px;
 }
