<ion-header>
  <ion-row class="ion-justify-content-end">
    
      <ion-buttons>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>

    
  </ion-row>
  <ion-row>
    <ion-img routerLink="../principal" src="assets/ICONS_APP/ICONS_APP/logo.png"></ion-img>
  </ion-row>
    
  
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row id="title">
      <ion-col size="1">
        <ion-row>
        <ion-img id="atras" src="assets/ICONS_APP/ICONS_APP/atras.png"></ion-img>   
      </ion-row>
      </ion-col>     
           
      <ion-title>MIS CITAS</ion-title>
    </ion-row>

    <ion-row id="buttons">
      <ion-col size="12">
        <ion-button>Proximas</ion-button>
        <ion-button>Previas</ion-button>
      </ion-col>
    </ion-row>

    <ion-row id="container">
      <ion-col size="11">
        <ion-card>
          <ion-card-content>
            <ion-col size="1">
            <ion-img src="assets/ICONS_APP/ICONS_APP/doctor.png"></ion-img>
            </ion-col>
              
            
            
          
          
          </ion-card-content>
       
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid> 
</ion-content>
