.container-fluid {
	background-color: #ffffff;
}

img[id="img-tele"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

img[id="avatar"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

img[id="avatar_doctor"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

div#citas-prev {
  border: 1px solid #9a999e;
  padding: 10px;
  border-radius: 25px;
}

div#inicio-cont{
	background-color: #65b4c3;
}

div#inicio, div#cuenta, div#no-cuenta, div#registro{
	display: inline-block;
	background-color: #ffffff;
	text-align: center;
	border: 0px solid #000000;
}

#id_name, #id_apellido,#id_phone, #id_username, #id_email, #id_password, #id_password1, #id_password2, #id_dueno, #id_precio, #id_telefono, #id_ciudad, #id_direccion, #id_especialidad, #id_tarifa, #id_licencia_med, #id_num_doc, #id_celular, #id_nombre, #id_descripcion,#id_documento_id{
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border: 1px solid #65b4c3;
}

div#ingresa-con{
	color: #727176;
	text-align: center;
}

div#mensaje{
	color: #727176;
	text-align: center;
}

#ingresa_cuenta a{
	color: #65b4c3;
}
#ingresa_cuenta, #nuevo-user, #contra{
	text-align:right;
}


#titulo-inicio h2, #lineas h4, #des-app h6, #titulo h2, #o_ini{
	display: inline-block;
	margin:auto;
	text-align: center;
}

#des-app h6{
	font-family: 'Montserrat', sans-serif;
	color: #ffffff
}

#nuevo-user a{
	display: inline-block;
	margin:auto;
	text-align: right;
	color: #65b4c3;
}

#contra a{
	display: inline-block;
	margin:auto;
	text-align: right;
	color: #e53956;
}


img[id="foto_doc"]{
	display:block;
	margin:auto;
}

img[id="imgstore"]{
	width:200px;
	height:75px;
}

img[id="imgplay"]{
	width:200px;
	height:75px;
}

div#des_aplicaciones{
	position:absolute;
	bottom: 10px;
	right: 40px;
}

img[id="logo2"]{
	width:200px;
}

img[id="logo-ini"]{
	max-width: 100%;
}

img[id="logo-redes"]{
	width:18px;
	display: block;	
	margin-left: auto;
	margin-right: auto;
}

img[id="logo-redes2"]{
	width:50px;
	display: block;	
	align-content:left;
}

button[id="btn-inicio"], button[id="btn-registro"]{
	background-color: #e53956;
	color: white;
	display: inline-block;
	text-align: center;
	border-radius: 8px;
	width:max-content;
	border:none;
}

button[id="btn-guardar"], button[id="btn-continuar"] {
	background-color: #e53956;
	color: white;
	text-align: center;
	border-radius: 8px;
	border:none;
	width: 144px;
	display: block;
	max-width: 300px;
	margin: auto; 
}

img[id="banner"]{
	width:100%;
}

#superior-banner{
	background-color: #65b4c3;
}

#menu {
	font-size: medium;
	text-align: center;
	display: inline;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	color:black;

}

li{
	display: inline;
	margin-right: auto;
	text-align: center;
    text-decoration: none;

}

#menu ul li a{
	color: #ffffff;
}

#menu-int ul li a{
	color: black;
}

#menu ul li a:hover{
	 color: #e53956;
}

#menu ul li a#active{
    color: #e53956;
}

#menu-int ul li a#active {
    color: #e53956;
}

#footer_bajo{
	color: #65b4c3;
	text-align: center;
	margin:auto;
}

#vertical-menu-medico a {
    background-color: #9baec8; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    font-family: 'Ubuntu',Sans-Serif;
    font-size: 1.75em;
    text-decoration: none; /* Remove underline from links */
    width: 300px;
}

#vertical-menu-medico a:hover {
    background-color: #ebebeb; /* Dark grey background on mouse-over */
}

/*
.modal{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);

	position: absolute;
	top: 0;
	left: 0;

	display: flex;

	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;

}



.contenido{
	margin: auto;
	width: 40%;
	height: 40%;
	background: white:
	border-radius:10px;
}

#cerrar {
	display: none;
}

#cerrar + label {
	position: absolute;
	color: #fff;
	font-size: 25px;
	z-index: 50;
	background: darkred;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50px;
	right: 10px;
	cursor: pointer;

	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ modal {
	display: none;

}

 @keyframes modal{
 	100%{
 		visibility: hidden;
		opacity: 1;
 	}
 }*/