<ion-header>
  <ion-toolbar>
    <ion-img src="assets/ICONS_APP/ICONS_APP/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    
    <ion-grid>
      <ion-row>
      <ion-img class="imagenes" src="assets/ICONS_APP/ICONS_APP/agendar_cita_2.png"></ion-img>
      <ion-title>Agendamiento de consulta medica</ion-title>
    </ion-row>
    
      <ion-row id="infocita">

      </ion-row>
    
      <ion-row class="ion-justify-content-center confirm" routerLink="../pago">
        <ion-col size="5" size-sm class="ion-align-self-center">
          <ion-label >Confirmar cita</ion-label> 
        </ion-col> 
      </ion-row >  
    </ion-grid>
  </ion-content>