<ion-header>
  <ion-toolbar>
      <ion-img src="assets/telemedicina_movil.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="Nombres" required clearInput [(ngModel)]="user.persona_id.nombre" name="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Apellidos" required clearInput [(ngModel)]="user.persona_id.apellido" name="apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="tel" placeholder="Telefono" minlength=9 maxlength=10 required clearInput [(ngModel)]="user.persona_id.telefono" name="telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="email" placeholder="Correo Electronico" required clearInput [(ngModel)]="user.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="email" placeholder="Username" required clearInput [(ngModel)]="user.username" name="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Contrasena" minlength=8 required clearInput [(ngModel)]="user.password" name="password"></ion-input>
  </ion-item>
  <ion-button type="submit" (click)="registro()">Registrarse</ion-button>
  <ion-item>
    <ion-label>Al registrarte, aceptas nuestras condiciones, la Politica de datos y la Politica de cookies</ion-label>
  </ion-item>
</ion-content>