:root {
    --ion-color-light: #d7d8da;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #f4f5f8;
    --ion-color-light-tint: #f5f6f9;

    
  }
